<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">		
		<title>Car Details</title>
		<meta name="viewport" content="width=device-width,initial-scale=1.0"/>
		<!-- <link rel="stylesheet" type="text/css" href="asserts/css/index.css"> -->		
		<link rel="stylesheet" href="asserts/css/reset.css"/>
		<link rel="stylesheet/less" type="text/css" href="asserts/css/details.less">
		<script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script>
		<script type="text/javascript" src="asserts/js/resize.js"></script>		
		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.6/dist/vue.js"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	</head>
	<body >
		<main id="app">
			<div class="img-message">1/9</div>
			<section class="head">
				<img src="asserts/img/车辆详情-返回-带底色@3x.png" class="back-arrow">
				<img src="asserts/img/车辆详情-分享-带底色@3x.png" class="send">				
				<div class='one'>					
				</div>
				<div class="two">					
				</div>
				<div class="three">					
				</div>
				<div class="four">					
				</div>
				<div class="five">					
				</div>
				<div class="six">					
				</div>
				<div class="seven">					
				</div>
				<div class="eight">					
				</div>
				<div class="nine">					
				</div>
			</section>
			<section class="car-message">
				<p class='car-introduce'><span class="car-new">新车</span><span class="car-name">{{ carMessage.groupName }}</span><span class="producer-pay">厂商指导价43.3万元</span></p>
				<p class="car-style">{{ carMessage.modelName }}</p>
			</section>
			<section class="pay">
				
				<div class="pay-case">
					<p class="head">分期方案</p>
					<div class="first-pay">
						<p class="first-pay-head">首付</p>
					
						<div class="first-pay-message">
							<span class="price">950000</span><span class="single">元</span>
							<img class="first-pay-img" src="asserts/img/车辆详情-分享-带底色@3x.png">
						</div>
					</div>
					<div class="case-detail">						
						<p class="case-detail-head">方案</p>
						<div class="case-detail-select">
							<span class="rent-buy active">先租后买</span>
							<span class="buy">分期付款</span>
						</div>
					</div>
				</div>
				<div class="month-pay-case">
					<p class="month-pay-title">月供方案</p>
					<div class="first-year">
						<p class="first-year-title">第一年:</p>
						<p class="first-year-details">分12期，每期3077元</p>
					</div>
					<div class="after-one-year">
						<p class="after-one-year-title">一年后:</p>
						<p class="after-one-year-details">分36期，每期2000元</p>
						<p class="other-case">或一次性支付尾款82200元</p>
					</div>
				</div>								
			</section>
			<section class="city">
					<span class="city-title">提车城市</span>
					<img class="right-arrow" src="asserts/img/arrow@3x.png">
					<span class="city-name">北京</span>
			</section>
			<section class="compare">
				<p class="compare-title"><span class="border"></span>综合对比 优势尽显</p>
				<div class="compare-head">
					<div>				
						<div class="vs"><span class="up">V</span><span class="down">S</span></div><div class="vs"><span class="up">V</span><span class="down">S</span></div>
						<span class="small">神州买买车</span><span class="small">其他友商</span><span class="small">普通4s店</span>
						
					</div>					
				</div>
				<table class="compare-details">
					
					<tbody>
						<tr>
							<td><span class="us big">0</span><span class="normal">首付</span></td>
							<td><span class="big">10</span><span class="normal">%首付</span></td>
							<td><span class="big">30</span><span class="normal">%首付</span></td>
						</tr>
						<tr>
							<td><span class="us normal">送一年</span><span class="small">保险</span></td>
							<td><span class="normal">送一年</span><span class="small">保险</span></td>
							<td><span class="normal">另行购买</span><span class="small">保险</span></td>
						</tr>
						<tr>
							<td><span class="us normal">含</span><span class="small">购置税</span></td>
							<td><span class="normal">含</span><span class="small">购置税</span></td>
							<td><span class="normal">另行缴纳</span><span class="small">购置税</span></td>
						</tr>
						<tr>
							<td><span class="us normal">免费</span><span class="small">上牌</span></td>
							<td><span class="normal">免费</span><span class="small">上牌</span></td>
							<td><span class="small">3000左右上牌费</span></td>
						</tr>
						<tr>
							<td>
								<span class="us big">7</span><span class="normal">天提车</span>
								<span class="smallest">遇特殊情况无法7天提车</span>
								<span class="smallest">提供代步车补偿方案</span>
							</td>
							<td>
								<span class="smallest">30-80</span><span class="smallest">天提车</span>
								<span class="smallest">延期无补偿或补偿极低</span>
							</td>
							<td>
								<span class="smallest">现车</span><span class="smallest">1-3</span><span class="smallest">天提车</span>
								<span class="smallest">非现车30-90天提车</span>
								<span class="smallest">延期无补偿</span>
							</td>
						</tr>
						<tr>
							<td>
								<span class="normal">在线审批</span>
								<span class="normal">最快3分钟</span>
							</td>
							<td>
								<span class="normal">1-5天审批</span>
							</td>
							<td>
								<span class="smallest">多项纸质证明</span>
								<span class="smallest">流程繁琐、周期长</span>
							</td>
						</tr>
					</tbody>
				</table> 
				<p class="remark">注：沈阳、长春、太原、乌鲁木齐、济南、贵阳、厦门、中山、佛山、东莞10个城市由于当地政策原因需12天提车，选择交车城市为上海的车辆，牌照为沪C开头。</p>	
			</section>
			<section class="car-config">
				<p class="illustration">
					下方车型亮点及参数配置为系统自动生成仅供参考，实际配置信息以交付车辆为准
				</p>
				<p class="car-config-title"><span class="border"></span>车辆参数</p>
				<table class="config-data">
					<tbody>
						<tr>
							<td>发动机</td>
							<td>{{`${carEngine['气缸排列形式']} ${carEngine['气缸数(个)']}个`}}</td>
						</tr>
						<tr>
							<td>变速箱</td>
							<td>{{carSpeedBox['变速箱类型']}}</td>
						</tr>
						<tr>
							<td>燃油标号</td>
							<td>{{`${carEngine['燃油标号'] ? carEngine['燃油标号'].slice(0,2):''}#`}}</td>
						</tr>
						<tr>
							<td>环保标准</td>
							<td>{{carEngine['环保标准']}}</td>
						</tr>
						<tr>
							<td>驱动方式</td>
							<td>{{carTurn['驱动方式']}}</td>
						</tr>
						<tr>
							<td>工信部综合油耗 (L/100km)</td>
							<td>{{carBasicConf['工信部综合油耗(L/100km)']}}</td>
						</tr>
					</tbody>
				</table>
				<div class="see-more">
					<p @click="see=true">更多参数配置<span></span></p>
				</div>
				
			</section>
			<section class="car-good">
				<p class="car-good-title"><span class="border"></span>车辆亮点</p>
				<div class="list-good">
					<div class="detail-good" v-for="item in carHighLightList">
						<img :src="item.url"/>
						<p>{{item.name}}</p>
					</div>					
				</div>
			</section>
			<section class="buy-to-know">
				<p class="buy-to-know-title"><span class="border"></span>购买须知</p>
				<table class="buy-to-know-details">
					<tbody>
						<tr>
							<th>所需资料</th>
							<td>身份证、驾驶证、银行卡(零首付产品信用卡优先)；</td>
						</tr>
						<tr>
							<th>车源说明</th>
							<td>神州买买车所有新车均从各大汽车品牌厂商或授权经销商直接采购，车源品质100%保障；</td>
						</tr>
						<tr>
							<th>车辆归属</th>
							<td>在贷款结清前，车辆及车牌所有权归属于神州，贷款结清后车辆可过户；</td>
						</tr>
						<tr>
							<th>保险</th>
							<td>神州买买车送1年车险，含交强险、第三者责任险（30万）、车上人员险（司机5万）、车损险及以上几项险种的不计免赔，提供盗抢险理赔服务；</td>
						</tr>
						<tr>
							<th>购置税</th>
							<td>购车方案已含购置税，客户无需再行支付；</td>
						</tr>
						<tr>
							<th>上牌</th>
							<td>上牌手续由神州买买车负责办理，客户无需支付任何费用，车辆交付时即是带牌照、带保险交纳完购置税的全新车辆。</td>
						</tr>
						<tr>
							<th>代步车方案</th>
							<td>如逾期交付车辆，神州买买车承诺向客户提供免费代步车服务，查看详情。</td>
						</tr>
					</tbody>
				</table>
			</section>
			<section class="how-to-buy">
				<p class="how-to-buy-title"><span class="border"></span>购车流程</p>
				<div class="how-to-buy-list">
					<div class="how-to-buy-detail">
						<img />
						<p>咨询确定车型</p>
					</div>
					<img class="right-arrow" src="asserts/img/arrow@3x.png">
					<div class="how-to-buy-detail">
						<img />
						<p>在线提交资质</p>
					</div>
					<img class="right-arrow" src="asserts/img/arrow@3x.png">
					<div class="how-to-buy-detail">
						<img />
						<p>在线签署协议支付首期月供</p>
					</div>
					<img class="right-arrow" src="asserts/img/arrow@3x.png">
					<div class="how-to-buy-detail">
						<img />
						<p>7天内提车、延期提供免费代步车</p>
					</div>
				</div>
			</section>
			<section class="why-choose-us">
				<p class="why-choose-us-title"><span class="border"></span>为什么选择神州买买车</p>
				<div class="reason">
					<p class="reason-title"><span>No.1</span> 上市集团成员企业 实力雄厚</p>
					<div class="introduce-us">
						<img class="us-icon"/>
						<p class="us-detail">神州买买车是神州优车集团（股票代码：838006）旗下全国大型汽车电商平台，同神州租车、神州专车、神州车闪贷一起组成了神州优车的4大业务版块。</p>
					</div>
					<div class="our-projects-list">
						<div class="project">
							<img src="asserts/img/LOGO@3x.png"/>
							<p>神州买买车</p>
						</div>
						<div class="project">
							<img src="asserts/img/LOGO@3x.png"/>
							<p>神州租车</p>
						</div>
						<div class="project">
							<img src="asserts/img/LOGO@3x.png"/>
							<p>神州专车</p>
						</div>
						<div class="project">
							<img src="asserts/img/LOGO@3x.png"/>
							<p>神州车闪贷</p>
						</div>
					</div>
				</div>
				<div class="reason">
					<p class="reason-title"><span>No.2</span> 媒体认可 实力保障</p>
					<div class="honors-list">
						<div class="honor">
							<img />
							<p class="honor-time">2016人民日报社中国品牌论坛</p>
							<p class="honor-name">中国品牌创新奖</p>
						</div>
						<div class="honor">
							<img />
							<p class="honor-time">中国消费者报社2016年度</p>
							<p class="honor-name">诚信购车方式奖</p>
						</div>
						<div class="honor">
							<img />
							<p class="honor-time">2016天猫双11汽车销量领先</p>
							<p class="honor-name">总订单金额破8亿</p>
						</div>
						<div class="honor">
							<img />
							<p class="honor-time">58同城2016年度</p>
							<p class="honor-name">全国诚信车商</p>
						</div>
						<div class="honor">
							<img />
							<p class="honor-time">成功杂志2016年度</p>
							<p class="honor-name">创新营销平台奖</p>
						</div>
					</div>
				</div>
			</section>
			<section class="footer">
				<div class="ask-online">
					<img src="asserts/img/电话-无底@3x.png"/>
					<span>在线咨询</span>
				</div>
				<div class="ask-phone">
					<img src="asserts/img/电话-无底@3x.png"/>
					<span>电话咨询</span>
				</div>
				<div class="submit">
					<span>去咨询</span>
				</div>
			</section>
			<section class="car-config-detail" v-if="see">
				<header>
					<img src="asserts/img/关闭@2x.png" @click="see=false"/>
					<h3>配置参数</h3>
				</header>
				<h3 class="car-detail-name">{{`${carMessage['brandName']} ${carMessage['seriesName']} ${carMessage['modelName']}`}}</h3>
				<p>注：以下参数配置信息仅供参考，实际参数配置信息以销售车辆为准</p>
				<dl>
					<template v-for="(value, key) in carMessageParam">
						<dt>{{key}}</dt>
						<dd v-for="(valueword, keyword) in value">
							<span>{{keyword}}</span>
							<span>{{valueword}}</span>
						</dd>
					</template>					
				</dl>				
			</section>
		</main>	
		<script>
			const app = new Vue({
				el: '#app',
				data: {
					see: false,
					carMessage: '',
					carMessageParam: '',
					carHighLightList: '',
					carEngine: '',
					carSpeedBox: '',
					carBasicConf: '',
					carTurn: '',
				},
				mounted() {
					const that = this;
					axios({
						method:'get',
						url:'http://rap2api.taobao.org/app/mock/126209/action/vehicle/detail/query',
						responseType:'json'
					}).then(function(response) {							
							that.carMessage = response.data.data.vehicleConf;
							that.carHighLightList = response.data.data.modelHighlightList;
							that.carMessageParam = that.carMessage.parameters; 
							that.carEngine = that.carMessageParam['发动机'];							
							that.carSpeedBox = that.carMessageParam['变速箱'];
							that.carBasicConf = that.carMessageParam['基本参数'];							
							that.carTurn = that.carMessageParam['底盘转向'];							
					});
				},
				watch:{
					see() {
						if (this.see) {
							document.querySelector('html').scrollTop = 0;
						}
					}
				}
			})			
		</script>
		<script src="asserts/js/details.js"></script>
	</body>
</html>
